<div class="container">
  <% @stores.each_slice(3) do |stores| %>
    <div class="row">
	  <% stores.each do |store| %>
		<div class="col-md-3">
			<h4><%= link_to store.name, store_path(store) %> </h4>
			<p><%= store.description %></p>
		</div>
	  <% end %>
	<% end %>
</div>