<div class="container">
  <h1 class="text-center">Listing products</h1>
  <% @products.each_slice(3) do |products| %>
    <div class="row">
    <% products.each do |product| %>
    <div class="col-md-3">
      <h4><%= link_to product.name, product_path(product) %> </h4>
      <p><%= product.description %></p>
    </div>
    <% end %>
  <% end %>
</div>
